body{
    background-color: rgb(0, 180, 0);
    color: honeydew;
    font-family: "Martian Mono", system-ui;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
 
    background-color: brown;
    font-family: "Martian Mono", system-ui;
}